<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.ShiftCalendar"
        android:hardwareAccelerated="true"
        android:fullBackupContent="false">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.ShiftWidgetProvider"
            android:exported="true"
            android:label="@string/widget_main">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shift_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.WaterWidgetProvider"
            android:exported="true"
            android:label="@string/widget_water_2x2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shift_widget_water_info" />
        </receiver>

        <receiver
            android:name=".widget.WorkWidgetProvider"
            android:exported="true"
            android:label="@string/widget_work_2x2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shift_widget_work_info" />
        </receiver>

        <receiver
            android:name=".widget.WaterWidget2x1Provider"
            android:exported="true"
            android:label="@string/widget_water_2x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shift_widget_water_2x1_info" />
        </receiver>

        <receiver
            android:name=".widget.WorkWidget2x1Provider"
            android:exported="true"
            android:label="@string/widget_work_2x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shift_widget_work_2x1_info" />
        </receiver>

        <receiver
            android:name=".widget.ClockWidgetProvider"
            android:exported="true"
            android:label="@string/widget_clock_work">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shift_widget_clock_info" />
        </receiver>

        <receiver
            android:name=".widget.ClockWaterWidgetProvider"
            android:exported="true"
            android:label="@string/widget_clock_water">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shift_widget_clock_water_info" />
        </receiver>

        <receiver
            android:name=".widget.ClockWaterWidget4x1Provider"
            android:exported="true"
            android:label="@string/widget_water_4x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shift_widget_clock_water_4x1_info" />
        </receiver>

        <receiver
            android:name=".widget.ClockWorkWidget4x1Provider"
            android:exported="true"
            android:label="@string/widget_work_4x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shift_widget_work_4x1_info" />
        </receiver>

        <receiver
            android:name=".widget.AllInOneWidgetProvider"
            android:exported="true"
            android:label="@string/widget_all_in_one">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shift_widget_all_in_one_info" />
        </receiver>

        <receiver
            android:name=".widget.WorkEfficiencyWidgetProvider"
            android:exported="true"
            android:label="@string/widget_work_efficiency">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shift_widget_efficiency_info" />
        </receiver>

        <receiver
            android:name=".widget.ActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.shiftcalendar.app.ACTION_ADD_WATER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
